.BottomSheetContainer{
    background-color: #ffffff;
    border-radius: 1.5em 1.5em 0 0;
    padding: 1.5em 1em;
    position: relative;
    height: 100%;
}

.Switch_Line{
    position:absolute;
    top:6px;
    left: 50%;
    transform:translateX(-50%);
    height: 4px;
    width: 35px;
    background-color: #cccccc;
}