.dailyCard{
    background-color: #e7e4d5;
    padding:0.5em 1em;
    border-radius: 1em;
}

.dailyCard > div{
    display: flex;
    align-items: flex-start;
    margin-bottom: 0.8em;
}

.dailyCard > div > span{
    width: 20%;
    text-align:end;
}

.dailyCard > div >div{
    margin-left: 0.5em;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.dailyCard span{
    font-size: 0.8em;
    color: var(--textColor);
    font-weight: 600;
}

.dailyCard p {
    font-size: 0.8em;
    font-weight: 600;
    line-height: 1;
    margin:0;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
@media only screen and (min-width: 900px) {
    .dailyCard > div{
        margin-bottom: 0.8em;
    }
    .dailyCard > div > span{
        width: 60%;
        text-align:end;
    }
    .dailyCard{
    font-size: 1.2em;
    }
  }