.phoneConfirmationContainer{
    padding:3em 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--bgColor);
    position: relative;
}

.phoneConfirmationContainer p{
    font-size: 1em;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: space-evenly;
}
.backBtn{
    top: 40px;
    position: absolute;
}
.backBtn img{
    width: 40px;
    height: 40px;
}

.notificationContainer{
    border-radius: 1em;
    background-color: white;
    box-shadow: 0px 0px 5px #a8a8a8;
}

.notificationContainer h6{
    font-weight: 700;
    font-size: 1em;
}

.notificationContainer .actionBtn{
    position: relative;
}

.notificationContainer .actionBtn a{
    display: inline-block;
    width: 50%;
    padding: 0.5em;
    border-top: 1px solid #cccccc; 
}

.notificationContainer .actionBtn > a:first-child{
    border-right: 1px solid #cccccc;
}
