@import url('https://fonts.googleapis.com/css2?family=Signika&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
:root{
  --textColor:rgb(65,64,66);
  --btnBgColor:#3287b7;
  --bgColor: #f2f0e4;
}

html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-size: 1em;
}

a{
  text-decoration: none;
}

button{
  outline: none;
}

.primaryBtn{
  background-color: var(--btnBgColor);
  color:white;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  font-size: 1.1em;
  font-style: normal;
  text-align: center;
  margin-top: 10px;
}

.appLayout{
  background-color: var(--bgColor);
  width: 100%;
  position: relative;
  margin: auto;
}